* {
	padding: 0;
	margin: 0;
}

hr {
	height: 1px;
	background-color: #dfdfdf;
	border: none;
}

.loading-wrapper {
	position: absolute;
	width: 100%;
	z-index: 10000;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	top: 0;
	left: 0;
	background: #ffffff;
}

a {
	color: inherit !important;
}

.pag-list {
	display: flex;
	flex-flow: row;
	justify-content: flex-end;
	text-align: center;
	a {
		text-decoration: none;
		color: rgb(100, 100, 100);
	}
	.pag-item {
		border-radius: 5px;
		.pag-item-link {
			display: block;
			padding: 0.5rem;
			cursor: pointer;
		}

		list-style: none;
		margin: 0 3px;
		&:hover {
			background: rgba(228, 228, 228, 0.6);
			a {
				color: #000;
			}
		}
	}
	.pag-next,
	.pag-prev {
		border-radius: 5px;
		cursor: pointer;
		list-style: none;
		&:hover {
			background: rgba(228, 228, 228, 0.6);
			a {
				color: #000;
			}
		}
		.pag-next-link,
		.pag-prev-link {
			display: inline-block;
			width: 100%;
			padding: 0.5rem;
		}
	}
	.pag-next-link {
		&::after {
			content: "\203A";
			font-size: 14px;
			margin-left: 5px;
		}
	}
	.pag-prev-link {
		&::before {
			content: "\2039";
			font-size: 14px;
			margin-right: 5px;
		}
	}
	.pag-disable a {
		color: #999 !important;
	}
	.pag-active {
		background: rgba(228, 228, 228, 0.6);
		a {
			color: #000;
		}
	}
}
